* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.wine {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.wine_card {
    width: 85vw;
    height: 75vh;
    background-color: white;
    position: absolute;
    border-radius: 1rem;
    top: calc(50% - 37.5vh);
}

.wine_title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5vh;
    text-transform: uppercase;
}

.wine_title_main {
    font-size: 1.5rem;
}

.wine_title_sub {
    margin-top: 1rem;
    color: rgb(193, 193, 193);
    font-size: 0.75rem;
}

.wine_bottle {
    position: absolute;
    top: 10vh;
    transform: rotate(90deg) translateY(12vw);
    transition: transform 100ms ease-in 25ms;
    height: 60vw;
    left: 32vw;
}

.wine_card--active .wine_bottle {
    transform: rotate(90deg) translateY(0);
}

.wine_bottle-shadow {
    position: absolute;
    top: 33vh;
    width: 58vw;
    height: 1px;
    left: calc(50% - 29vw);
    border-radius: 50%;
    box-shadow: 2px -5px 5px 0 rgba(0, 0, 0, 0.2);
}

.wine_price {
    position: absolute;
    left: calc(50% - 3.5rem);
    top: 60%;
    font-size: 1.5rem;
    color: rgb(154, 154, 154);
}

.wine_separator {
    position: absolute;
    width: 50vw;
    top: 56vh;
    border-top: 1px solid #c1c1c1;
    left: calc(50% - 25vw);
}

.wine_button {
    position: absolute;
    top: 85%;
    left: calc(50% - 4.5rem);
    font-size: 1.25rem;
    border: 1px solid;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}

.card_0 .wine_button {
    border-color: rgba(238, 123, 111, 1);
    color: rgba(238, 123, 111, 1);
}

.card_1 .wine_button {
    border-color: rgba(250, 202, 138, 1);
    color: rgba(250, 202, 138, 1);
}
